version: '3'

services:
  web_1:
    image: web1img
    build: ./web
    container_name: webhost1
    hostname: webhost1

  web_2:
    image: web2img
    build: ./web
    container_name: webhost2
    hostname: webhost2

  loadbalancer:
    image: nginximg
    build: ./loadbal
    ports:
      - "80:80"
    container_name: nginxload
    hostname: nginxload

  sql:
    image: mysql
    ports:
        - "3306:3306"
    volumes:
        - ./skitter.sql:/docker-entrypoint-initdb.d/skitter.sql
        - ./mysqldata:/var/lib/mysql
    environment:
        - MYSQL_ROOT_PASSWORD=password
